@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&family=Suez+One&display=swap");

body {
    font-family: "Roboto";
}
.body,
.linear {
    background: linear-gradient(130deg, #3d8ce6, #fff);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    height: auto;
    width: 50px;
}
.text-shadow {
    text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 50%);
}
.gray {
    color: #c6def9;
}
.notfound {
    background-color: #596164;
    background-size: cover;
}
.form-control:focus {
    box-shadow: none;
}
.hover:hover {
    text-decoration: underline !important;
}
.secondary {
    color: #9fa6b2;
}
